<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/teacher.css">
    <link rel="stylesheet" href="../style/navigation_bar.css">
    <title>Say Cheese</title>
</head>
<body>
    <div class="navigation">
        <div class="title-bar"></div>
        <nav class="main-menu">
            <ul>
                <li class="page-link" id="dashboard" data-page="dashboard">
                    <a href="#"><i class="fa fa-chart-line"></i><span class="nav-text">Dashboard</span></a>
                </li>
                <li class="page-link" data-page="manage-courses">
                    <a href="#" class="manage-courses"><i class="fa fa-chalkboard-teacher"></i><span class="nav-text">Manage Courses</span></a>
                </li>
            </ul>
            <ul class="exit">
                <li class="exit-button">
                    <a href="#"><i class="fa fa-sign-out-alt"></i><span class="nav-text">Exit</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <main class="content">
        <section class="page dashboard-page">
            <div>
                <h1>Dashboard</h1>
                <div class="excel-raport">
                    <input type="button" id="excel-raport-button" value="Excel raport">
                </div>
                <div class="start-attendance">
                    <input type="button" id="start-attendance-button" value="Start attendance">
                </div>
                <div class="train-data">
                    <input type="button" id="train-data-button" value="Train data">
                </div>
                <div class="search-student">
                    <input type="text" id="search-students" onkeyup="searchStudents()" placeholder="Search student by name" title="Type in a name">
                    <button type="submit" class="search-students-button"><i class="fas fa-search"></i></button>
                </div>
                <div class="student-attendance">
                    <table id="student-attendance-table">
                        <thead>
                            <tr>
                                <th>Student</th>
                                <th>Specialization</th>
                                <th>Year</th>
                                <th>Group</th>
                                <th>Subgroup</th>
                                <th>Course</th>
                                <th>Type</th>
                                <th>W01</th>
                                <th>W02</th>
                                <th>W03</th>
                                <th>W04</th>
                                <th>W05</th>
                                <th>W06</th>
                                <th>W07</th>
                                <th>W08</th>
                                <th>W09</th>
                                <th>W10</th>
                                <th>W11</th>
                                <th>W12</th>
                                <th>W13</th>
                                <th>W14</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="page manage-courses-page">
            <div>
                <div class="header-text">
                    <h1>Manage Courses</h1>
                </div>
                <div class="add-course">
                    <input type="button" id="add-course-button" value="Create course">
                </div>
                <div class="search">
                    <input type="text" id="search-courses" onkeyup="searchCourse()" placeholder="Search course by name" title="Type in a name">
                    <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
                </div>
                <div class="course-table">
                    <table id="courses">
                        <thead>
                            <tr>
                                <th>Course ID</th>
                                <th>Course name</th>
                                <th>Course type</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <div class="start-attendance-modal">
            <div class="start-attendance-modal-content">
                <div class="start-attendance-modal-header">
                    <div class="x-button"><span>&times;</span></div>
                    <div style="clear:both;"></div>
                </div>
                <div class="start-attendance-modal-body">
                        <h2>Start attendance</h2>
                        <div class="make-attendance-form">
                        <form method="POST" id="start-attendance-form">
                            <div class="popup">
                                <span class="popup-text" id="attendance-course"></span>
                            </div>
                            <div class="select-box">
                                <p>Select course:</p>
                                <select id="select-course-for-attendance" name="Course"></select>
                            </div>
                            <div class="popup">
                                <span class="popup-text" id="attendance-week"></span>
                            </div>
                            <div class="select-box">
                                <p>Select week:</p>
                                <select id="select-week-for-attendance" name="Week">
                                    <option disabled selected value>Select week</option>
                                    <option>01</option>
                                    <option>02</option>
                                    <option>03</option>
                                    <option>04</option>
                                    <option>05</option>
                                    <option>06</option>
                                    <option>07</option>
                                    <option>08</option>
                                    <option>09</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                    <option>13</option>
                                    <option>14</option>
                                </select>
                            </div>
                            <div class="popup">
                                <span class="popup-text" id="attendance-hour"></span>
                            </div>
                            <div class="select-box">
                                <p>Select hour:</p>
                                <select id="select-hour-for-attendance" name="Hour">
                                    <option disabled selected value>Select hour</option>
                                    <option>08:00</option>
                                    <option>09:40</option>
                                    <option>11:20</option>
                                    <option>13:00</option>
                                    <option>14:40</option>
                                    <option>16:20</option>
                                    <option>18:00</option>
                                    <option>19:40</option>
                                </select>
                            </div>
                            <div class="select-box">
                                <p>Select class:</p>
                                <select id="select-hour-for-attendance" name="Hour">
                                    <option disabled selected value>Select class</option>
                                    <option>A02</option>
                                </select>
                                <p></p>
                            </div>
                        </form>
                    </div>
                </div>
                <div style="clear:both;"></div>
                <div class="start-attendance-modal-footer">
                    <a href="#" class="start-attendance-modal-button confirm">Start attendance</a>
                    <a href="#" class="start-attendance-modal-button cancel">Cancel</a>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
        <div class="add-course-modal">
            <div class="add-course-modal-content">
                <div class="add-course-modal-header">
                    <div class="x-button"><span>&times;</span></div>
                    <div style="clear:both;"></div>
                </div>
                <div class="add-course-modal-body">
                        <h2>Create course</h2>
                        <form>
                            <div class="popup">
                                <span class="popup-text" id="name-popup"></span>
                            </div>
                            <div class="input-box">
                                <p>Enter course name:</p>
                                <input type="text" id="course-name" placeholder="Course name">
                            </div>
                            <div class="popup">
                                <span class="popup-text" id="type-popup"></span>
                            </div>
                            <p>Select course type:</p>
                            <div class="select-box">
                                <select id="select-course-type" name="Course Type">
                                    <option disabled selected value>Select course</option>
                                    <option value="0">Weekly</option>
                                    <option value="1">Biweekly</option>
                                </select>
                            </div>
                        </form>
                </div>
                <div style="clear:both;"></div>
                <div class="add-course-modal-footer">
                    <a href="#" class="add-course-modal-button confirm">Create</a>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
        <div class="edit-course-modal">
            <div class="edit-course-modal-content">
                <div class="edit-course-modal-header">
                    <div class="x-button"><span>&times;</span></div>
                    <div style="clear:both;"></div>
                </div>
                <div class="edit-course-modal-body">
                    <div class="edit-course-modal-navigation">
                        <ul>
                            <li class="header-page-link" data-page="header-view-courses">
                                <a href="#">View Course</a>
                            </li>
                            <li  class="header-page-link" data-page="header-assign-courses">
                                <a href="#">Assign Students</a>
                            </li>
                        </ul>
                    </div>
                    <div class="edit-course-page header-view-courses-page">
                        <h2 id="#edit-course-modal-course-name"></h2>
                        <div class="search-assigned">
                            <input type="text" id="search-assigned" onkeyup="searchAssigned()" placeholder="Search by study year" title="Type in a name">
                            <button type="submit" class="search-button-assigned"><i class="fas fa-search"></i></button>
                        </div>
                        <div class="assigned-course">
                            <table id="assigned-course-table">
                                <thead>
                                    <tr>
                                    <th>Student Profile</th>
                                    <th>Specialization</th>
                                    <th>Study year</th>
                                    <th>Group</th>
                                    <th>Subgroup</th>
                                    <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                            <div style="clear:both;"></div>
                            <div class="edit-modal-footer">
                            <a href="#" class="edit-course-modal-button footer"></a>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div class="edit-course-page header-assign-courses-page">
                        <h2>Assign students</h2>
                        <form method="POST" id="edit-attendance-form">
                            <div class="popup">
                                <span class="popup-text" id="assign-specialization"></span>
                            </div>
                            <div class="select-box">
                                <p>Select specialization:</p>
                                <select id="select-specialization-for-assigment" name="Profile">
                                    <option disabled selected value>Select specialization</option>
                                    <option>Informatica Romana</option>
                                    <option>Informatica Aplicata</option>
                                    <option>Informatica Engleza</option>
                                </select>
                            </div>
                            <div class="popup">
                                <span class="popup-text" id="assign-study-year"></span>
                            </div>
                            <div class="select-box">
                                <p>Select study year:</p>
                                <select id="select-study-year-for-assigment" name="Study Year">
                                    <option disabled selected value>Select study year</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                            <div class="popup">
                                <span class="popup-text" id="assign-group"></span>
                            </div>
                            <div class="select-box">
                                <p>Select group:</p>
                                <select id="select-group-for-assigment" name="Group">
                                    <option disabled selected value>Select group</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                </select>
                            </div>
                            <div class="popup">
                                <span class="popup-text" id="assign-subgroup"></span>
                            </div>
                            <div class="select-box">
                                <p>Select subgroup:</p>
                                <select id="select-subgroup-for-assigment" name="Subgroup">
                                    <option disabled selected value>Select subgroup</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                </select>
                            </div>
                            <p></p>
                    </form>
                    <div class="edit-modal-footer">
                        <a href="#" class="edit-course-modal-button confirm">Assign</a>
                        <div style="clear:both;"></div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="delete-assigned-course-modal">
            <div class="delete-assigned-course-modal-content">
                <div class="delete-assigned-course-modal-header">
                    <div class="x-button"><span>&times;</span></div>
                    <div style="clear:both;"></div>
                </div>
                <div class="delete-assigned-course-modal-body">
                    <p id="confirm-delete-assigned-course-text"></p>
                </div>
                <div style="clear:both;"></div>
                <div class="delete-assigned-course-modal-footer">
                    <a href="#" class="delete-assigned-course-modal-button confirm">Confirm</a>
                    <a href="#" class="delete-assigned-course-modal-button cancel">Cancel</a>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
        <div class="confirm-delete-course-modal">
            <div class="confirm-delete-course-modal-content">
                <div class="confirm-delete-course-modal-header">
                    <div class="x-button"><span>&times;</span></div>
                    <div style="clear:both;"></div>
                </div>
                <div class="confirm-delete-course-modal-body">
                        <p id="confirm-delete-course-text"></p>
                </div>
                <div style="clear:both;"></div>
                <div class="confirm-delete-course-modal-footer">
                    <a href="#" class="confirm-delete-course-modal-button confirm">Confirm</a>
                    <a href="#" class="confirm-delete-course-modal-button cancel">Cancel</a>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
        <div class="confirm-assign-student-modal">
            <div class="confirm-assign-student-modal-content">
                <div class="confirm-assign-student-modal-header">
                    <div class="x-button"><span>&times;</span></div>
                    <div style="clear:both;"></div>
                </div>
                <div class="confirm-assign-student-modal-body">
                    <p id="confirm-assign-student-text"></p>
                </div>
                <div style="clear:both;"></div>
                <div class="confirm-assign-student-modal-footer">
                    <a href="#" class="confirm-assign-student-modal-button confirm">Confirm</a>
                    <a href="#" class="confirm-assign-student-modal-button cancel">Cancel</a>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
        <div class="confirm-start-train-modal">
            <div class="confirm-start-train-modal-content">
                <div class="confirm-start-train-modal-header">
                    <div class="x-button"><span>&times;</span></div>
                    <div style="clear:both;"></div>
                </div>
                <div class="confirm-start-train-modal-body">
                    <p id="confirm-start-train-text"></p>
                </div>
                <div style="clear:both;"></div>
                <div class="confirm-start-train-modal-footer">
                    <a href="#" class="confirm-start-train-modal-button confirm">Confirm</a>
                    <a href="#" class="confirm-start-train-modal-button cancel">Cancel</a>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
        <div class="exit-modal">
            <div class="exit-modal-content">
                <div class="exit-modal-header">
                    <div class="x-button"><span>&times;</span></div>
                    <div style="clear:both;"></div>
                </div>
                <div class="exit-modal-body">
                    <p>Are you sure you want to exit?</p>
                </div>
                <div style="clear:both;"></div>
                <div class="exit-modal-footer">
                    <a href="#" class="exit-modal-button confirm">Yes</a>
                    <a href="#" class="exit-modal-button cancel">No</a>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
        <div id="add-course-snackbar">
            <div style="margin-right: 20px"><i class="fas fa-check-circle"></i></div>
            <div>Course created with success</div>
        </div>
        <div id="add-error-course-snackbar">
            <div style="margin-right: 20px"><i class="fas fa-times-circle"></i></div>
            <div>Failed to create course</div>
        </div>
        <div id="delete-course-snackbar">
            <div style="margin-right: 20px"><i class="fas fa-check-circle"></i></div>
            <div>Course deleted with success</div>
        </div>
        <div id="assign-students-snackbar">
            <div style="margin-right: 20px"><i class="fas fa-check-circle"></i></div>
            <div>Students assigned with success</div>
        </div>
        <div id="attendance-started-snackbar">
            <div style="margin-right: 20px"><i class="fas fa-bell"></i></div>
            <div>Attendance started</div>
        </div>
        <div id="attendance-snackbar">
            <div style="margin-right: 20px"><i class="fas fa-check-circle"></i></div>
            <div>Attendance finished with success</div>
        </div>
        <div id="training-started-snackbar">
            <div style="margin-right: 20px"><i class="fas fa-bell"></i></div>
            <div>Training data started</div>
        </div>
        <div id="training-data-snackbar">
            <div style="margin-right: 20px"><i class="fas fa-check-circle"></i></div>
            <div>Training data finished with success</div>
        </div>
        <div id="delete-assigned-students-snackbar">
            <div style="margin-right: 20px"><i class="fas fa-check-circle"></i></div>
            <div>Assigned students deleted with success</div>
        </div>
    </main>
    <script type="text/javascript" src="../js/login.js"></script>
    <script type="text/javascript" src="../js/title_bar_handler.js"></script>
    <script type="text/javascript" src="../js/teacher_index.js"></script>
    <script type="text/javascript" src="../js/teacher_dashboard.js"></script>
    <script type="text/javascript" src="../js/teacher_manage_courses.js"></script>
</body>
</html>
