<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/teacher.css">
    <link rel="stylesheet" href="../style/navigation_bar.css">
    <title>Say Cheese</title>
</head>
<body>
    <div class="navigation">
        <div class="title-bar"></div>
        <nav class="main-menu">
            <ul>
                <li class="page-link" data-page="dashboard">
                    <a href="#"><i class="fa fa-chart-line"></i><span class="nav-text">Dashboard</span></a>
                </li>
                <li class="page-link" data-page="make-attendance">
                    <a href="#"><i class="fa fa-calendar-alt"></i><span class="nav-text">Make Attendance</span></a>
                </li>
                <li class="page-link" data-page="manage-courses">
                    <a href="#" class="manage-courses"><i class="fa fa-chalkboard-teacher"></i><span class="nav-text">Manage Courses</span></a>
                </li>
            </ul>
            <ul class="exit">
                <li class="exit-button">
                    <a href="#"><i class="fa fa-sign-out-alt"></i><span class="nav-text">Exit</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <main class="content">
        <section class="page dashboard-page">
            <div>
                <h1>Dashboard</h1>
            </div>
        </section>
        <section class="page make-attendance-page">
            <div>
                <h1>Make Attendance</h1>
                <div class="make-attendance-form">
                    <form method="POST" id="start-attendance-form">
                        <p>Select course:</p>
                        <div class="popup">
                            <span class="popup-text" id="attendance-course"></span>
                        </div>
                        <div class="select-box">
                            <select id="select-course-for-attendance" name="Course"></select>
                        </div>
                        <div class="popup">
                            <span class="popup-text" id="attendance-week"></span>
                        </div>
                        <div class="select-box">
                            <select id="select-week-for-attendance" name="Week">
                                <option disabled selected value>Select week</option>
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                            </select>
                        </div>
                        <div class="popup">
                            <span class="popup-text" id="attendance-hour"></span>
                        </div>
                        <div class="select-box">
                            <select id="select-hour-for-attendance" name="Hour">
                                <option disabled selected value>Select hour</option>
                                <option>08:00</option>
                                <option>09:40</option>
                                <option>11:20</option>
                                <option>13:00</option>
                                <option>14:40</option>
                                <option>16:20</option>
                                <option>18:00</option>
                                <option>19:40</option>
                            </select>
                        </div>
                        <div class="start-attendance">
                            <input type="button" id="start-attendance-button" value="Create course">
                        </div>
                    </form>
                    <div class="train-data">
                        <input type="button" id="train-data-button" value="Train data">
                    </div>
                </div>
            </div>
        </section>
        <section class="page manage-courses-page">
            <div>
                <div>
                    <h1>Manage Courses</h1>
                </div>
                <div class="course-table">
                    <table id="courses">
                        <thead>
                            <tr>
                            <th>Course ID</th>
                            <th>Course name</th>
                            <th>Course type</th>
                            <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="add-course">
                    <input type="button" id="add-course-button" value="Create course">
                </div>
            </div>
        </section>
        <div class="add-course-modal">
            <div class="add-course-modal-content">
                <div class="add-course-modal-header">
                    <div class="x-button"><span>&times;</span></div>
                    <div style="clear:both;"></div>
                </div>
                <div class="add-course-modal-body">
                        <h1>Create course</h1>
                        <form>
                            <div class="popup">
                                <span class="popup-text" id="name-popup"></span>
                            </div>
                            <div class="input-box">
                                <p>Enter course name:</p>
                                <input type="text" id="course-name" placeholder="Course name">
                            </div>
                            <div class="popup">
                                <span class="popup-text" id="type-popup"></span>
                            </div>
                            <p>Select course type:</p>
                            <div class="select-box">
                                <select id="select-course-type" name="Course Type">
                                    <option disabled selected value>Select course</option>
                                    <option value="0">Weekly</option>
                                    <option value="1">Biweekly</option>
                                </select>
                            </div>
                        </form>
                </div>
                <div style="clear:both;"></div>
                <div class="add-course-modal-footer">
                    <a href="#" class="add-course-modal-button confirm">Create</a>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
        <div class="confirm-delete-course-modal">
            <div class="confirm-delete-course-modal-content">
                <div class="confirm-delete-course-modal-header">
                    <div class="x-button"><span>&times;</span></div>
                    <div style="clear:both;"></div>
                </div>
                <div class="confirm-delete-course-modal-body">
                        <p id="confirm-delete-course-text"></p>
                </div>
                <div style="clear:both;"></div>
                <div class="confirm-delete-course-modal-footer">
                    <a href="#" class="confirm-delete-course-modal-button confirm">Confirm</a>
                    <a href="#" class="confirm-delete-course-modal-button cancel">Cancel</a>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
        <div class="exit-modal">
            <div class="exit-modal-content">
                <div class="exit-modal-header">
                    <div class="x-button"><span>&times;</span></div>
                    <div style="clear:both;"></div>
                </div>
                <div class="exit-modal-body">
                        <p>Are you sure you want to exit?</p>
                </div>
                <div style="clear:both;"></div>
                <div class="exit-modal-footer">
                    <a href="#" class="exit-modal-button confirm">Yes</a>
                    <a href="#" class="exit-modal-button cancel">No</a>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="../js/login.js"></script>
    <script type="text/javascript" src="../js/title_bar_handler.js"></script>
    <script type="text/javascript" src="../js/teacher_index.js"></script>
    <script type="text/javascript" src="../js/teacher_manage_courses.js"></script>
    <script type="text/javascript" src="../js/teacher_make_attendance.js"></script>
</body>
</html>
