@font-face {
    font-family: Roboto-Medium;
    src: url("../../assets/fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto-Light;
    src: url("../../assets/fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: Roboto-Regular;
    src: url("../../assets/fonts/Roboto-Regular.ttf");
}

body {
    background-color:#212121;
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}

.navigation {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
}

.content {
    position: relative;
    padding-left: 60px;
    height: calc(100% - 20px);
    text-align: center;
}

.content h1 {
    font-family: 'Roboto-Medium';
    color: #F5F5F5;
}

.page {
    display: none;
}

.edit-course-page {
    display: none;
}

.page.dashboard-page h1{
    padding-bottom: 40px;
}

/* [DROPDOWN] */
select {
    --radius: 0;
    --baseFg: #F5F5F5;
    --baseBg: #424242;
    --accentFg: #F5F5F5;
    --accentBg: #212121;
}

select {
    font: 400 12px/1.3 sans-serif;
    -webkit-appearance: none;
    appearance: none;
    color: var(--baseFg);
    line-height: 1;
    outline: 0;
    padding: 0.65em 2.5em 0.55em 0.75em;
    border-radius: var(--radius);
    background-color: var(--baseBg);
    background-image: linear-gradient(var(--baseFg), var(--baseFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
    background-position: right 20px center, right bottom, right bottom, right bottom;
    text-decoration: none;
}

select:hover {
    background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
}

select:active {
    background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
    color: var(--accentBg);
    background-color: var(--accentFg);
}
/* [END DROPDOWN] */

@keyframes open-modal {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* [STUDENT ATTENDANCE TABLE] */
.student-attendance {
    width: calc(100% - 40px);
    height: 550px;
    overflow-y: auto;
    overflow-x: auto;
    float: left;
    margin-left: 20px;
}

/* scrollbar */
.student-attendance::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.student-attendance::-webkit-scrollbar-track {
    background-color: #BDBDBD;
}
.student-attendance::-webkit-scrollbar-thumb {
    background-color: #757575;
}

#student-attendance-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: #363636;
}

#student-attendance-table td, #student-attendance-table th {
    padding: 6px;
}

#student-attendance-table th {
    position: sticky;
    top: 0;
    background-color: #363636;
    font-family: 'Roboto-Light';
}

#student-attendance-table tbody {
    width: 100%;
    overflow: auto;
    height: 100px;
}

#student-attendance-table tr {
    color: #F5F5F5;
    font-family: 'Roboto-Light';
}

#student-attendance-table tr:hover {
    background-color: #2b2b2b;
}

#student-attendance-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    background-color: #2b2b2b;
}

#student-attendance-table td, #student-attendance-table th {
    border: 1px solid rgba(255, 255, 255, 0.3);
}
#student-attendance-table tr:first-child th {
    border-top: 0;
}
#student-attendance-table tr:last-child td {
    border-bottom: 0;
}
#student-attendance-table tr td:first-child,
#student-attendance-table tr th:first-child {
    border-left: 0;
}
#student-attendance-table tr td:last-child,
#student-attendance-table tr th:last-child {
    border-right: 0;
    text-align: center;
}
/* END [STUDENT ATTENDACE TABLE] */

#excel-raport-button {
    border: none;
    outline: none;
    height: 36px;
    font-size: 14px;
    font-family: 'Roboto-Medium';
    color: #F5F5F5;
    background-color: #424242;
    border-radius: 5px;
    width: 150px;
}

#excel-raport-button:hover {
    color: #424242;
    background-color: #F5F5F5;
    cursor: pointer;
}

.excel-raport {
    position: relative;
    display: flex;
    float: right;
    padding-right: 20px;
    padding-bottom: 10px;
}

#start-attendance-button {
    border: none;
    outline: none;
    height: 36px;
    font-size: 14px;
    font-family: 'Roboto-Medium';
    color: #F5F5F5;
    background-color: #424242;
    border-radius: 5px;
    width: 150px;
}

#start-attendance-button:hover {
    color: #424242;
    background-color: #F5F5F5;
    cursor: pointer;
}

.start-attendance {
    position: relative;
    display: flex;
    float: right;
    padding-right: 20px;
    padding-bottom: 10px;
}

#train-data-button {
    border: none;
    outline: none;
    height: 36px;
    font-size: 14px;
    font-family: 'Roboto-Medium';
    color: #F5F5F5;
    background-color: #424242;
    border-radius: 5px;
    width: 150px;
}

#train-data-button:hover {
    color: #424242;
    background-color: #F5F5F5;
    cursor: pointer;
}

.train-data {
    position: relative;
    display: flex;
    float: right;
    padding-right: 20px;
    padding-bottom: 10px;
}

/* [COURSE TABLE] */
.course-table {
    width: calc(100% - 40px);
    height: 550px;
    overflow-y: auto;
    float: left;
    margin-left: 20px;
}

/* scrollbar */
.course-table::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.course-table::-webkit-scrollbar-track {
    background-color: #BDBDBD;
}
.course-table::-webkit-scrollbar-thumb {
    background-color: #757575;
}

#courses {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: #363636;
}

#courses td, #courses th {
    padding: 10px;
}

#courses th {
    position: sticky;
    top: 0;
    background-color: #363636;
    font-family: 'Roboto-Light';
}

#courses tbody {
    width: 100%;
    overflow: auto;
    height: 100px;
}

#courses tr {
    color: #F5F5F5;
    font-family: 'Roboto-Regular';
}

#courses tr:hover {
    background-color: #2b2b2b;
}

#courses th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    background-color: #2b2b2b;
}

#courses td, #courses th {
    border: 1px solid rgba(255, 255, 255, 0.3);
}
#courses tr:first-child th {
    border-top: 0;
}
#courses tr:last-child td {
    border-bottom: 0;
}
#courses tr td:first-child,
#courses tr th:first-child {
    border-left: 0;
}
#courses tr td:last-child,
#courses tr th:last-child {
    border-right: 0;
}

.course-table-controls {
    color: #F5F5F5;
    font-size: 16px;
    text-align: center;
}

.course-table-controls>i.far.fa-edit:hover {
    color: #27AE60;
    cursor: pointer;
}

.course-table-controls>i.far.fa-trash-alt:hover {
    color: #E74C3C;
    cursor: pointer;
}
/* END [COURSE TABLE] */

/* [EDIT ASSIGNED COURSE TABLE] */
.assigned-course {
    width: calc(100% - 50px);
    height: 300px;
    overflow-y: auto;
    margin-left: 20px;
}

/* scrollbar */
.assigned-course::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.assigned-course::-webkit-scrollbar-track {
    background-color: #BDBDBD;
}
.assigned-course::-webkit-scrollbar-thumb {
    background-color: #757575;
}

#assigned-course-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: #363636;
}

#assigned-course-table td, #assigned-course-table th {
    padding: 10px;
}

#assigned-course-table th {
    position: sticky;
    top: 0;
    background-color: #363636;
    font-family: 'Roboto-Light';
}

#assigned-course-table tbody {
    width: 100%;
    overflow: auto;
    height: 100px;
}

#assigned-course-table tr {
    color: #F5F5F5;
    font-family: 'Roboto-Regular';
}

#assigned-course-table tr:hover {
    background-color: #2b2b2b;
}

#assigned-course-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    background-color: #2b2b2b;
}

#assigned-course-table td, #assigned-course-table th {
    border: 1px solid rgba(255, 255, 255, 0.3);
}
#assigned-course-table tr:first-child th {
    border-top: 0;
}
#assigned-course-table tr:last-child td {
    border-bottom: 0;
}
#assigned-course-table tr td:first-child,
#assigned-course-table tr th:first-child {
    border-left: 0;
}
#assigned-course-table tr td:last-child,
#assigned-course-table tr th:last-child {
    border-right: 0;
}

.assigned-course-controls {
    color: #F5F5F5;
    font-size: 16px;
    text-align: center;
}

.assigned-course-controls>i.far.fa-edit:hover {
    color: #27AE60;
    cursor: pointer;
}

.assigned-course-controls>i.far.fa-trash-alt:hover {
    color: #E74C3C;
    cursor: pointer;
}
/* END [EDIT ASSIGNED COURSE TABLE] */

#add-course-button {
    border: none;
    outline: none;
    height: 36px;
    font-size: 14px;
    font-family: 'Roboto-Medium';
    color: #F5F5F5;
    background-color: #424242;
    border-radius: 5px;
    width: 150px;
}

#add-course-button:hover {
    color: #424242;
    background-color: #F5F5F5;
    cursor: pointer;
}

.add-course {
    position: relative;
    display: flex;
    float: right;
    padding-right: 20px;
    padding-bottom: 10px;
}

/* [ADD COURSE MODAl] */
.add-course-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-family: 'Roboto-Medium';
    color: #F5F5F5;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    overflow-y: auto;
}

.add-course-modal a {
    text-decoration: none;
}

.add-course-modal-content {
    margin: 0 auto;
    width: 500px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
        0 7px 20px 0 rgba(0, 0, 0, 0.15);
    animation-name: open-modal;
    animation-duration: 0.3s;
    position: relative;
    top: calc(100% - 500px);
}

.add-course-modal-header {
    background: #212121;
    padding: 0.2px;
    color: white;
}

.add-course-modal-header > div.x-button {
    float: right;
    font-size: 20px;
    margin-right: 10px;
}

.add-course-modal-header > div.x-button:hover {
    color: #E74C3C;
    cursor: pointer;
}

.add-course-modal-body {
    height: 100%;
    background-color: #424242;
    padding: 10px 20px;
}

.add-course-modal-body input {
    width: 30%;
    background: #212121;
    margin-bottom: 20px;
}

.add-course-modal-body input[type="text"] {
    border: none;
    border-bottom: 2px solid #757575;
    outline: none;
    height: 30px;
    color: #F5F5F5;
    background: transparent;
    font-family: 'Roboto-Regular';
    font-size: 14px;
    box-sizing: border-box;
    text-align: center;
}

.add-course-modal-body input[type="text"]:focus {
    border-bottom: 2px solid #F5F5F5;
}

.add-course-modal-footer {
    width: 100%;
}

.add-course-modal-button.confirm {
    float: left;
    width: 100%;
    height: 30px;
    text-align: center;
    outline: none;
    text-align: center;
    line-height: 30px;
    color: #F5F5F5;
    background-color: #212121;
}

.add-course-modal-button.confirm:hover {
    background-color: #27AE60;
}

.popup {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup .popup-text {
    visibility: hidden;
    width: 160px;
    background-color: #E74C3C;
    color: #F5F5F5;
    text-align: center;
    font-size: 10px;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    font-family: 'Roboto-Medium';
}

.popup .popup-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #E74C3C transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    animation: fadeOut 0.5s 1;
    -webkit-animation: fadeOut 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes fadeOut{
    from {opacity: 1;}
    to {opacity: 0;}
}

@-webkit-keyframes fadeOut{
    from {opacity: 1;}
    to {opacity: 0;}
}
/* END [ADD COURSE MODAl] */

/* [EDIT COURSE MODAL] */
.edit-course-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-family: 'Roboto-Medium';
    color: #F5F5F5;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    overflow-y: auto;
}

.edit-course-modal a {
    text-decoration: none;
}

.edit-course-modal-content {
    margin: 0 auto;
    width: 700px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
        0 7px 20px 0 rgba(0, 0, 0, 0.15);
    animation-name: open-modal;
    animation-duration: 0.3s;
    position: relative;
    top: calc(100% - 550px);
}

.edit-course-modal-header {
    background: #212121;
    padding: 0.2px;
    color: white;
}

.edit-course-modal-header > div.x-button {
    float: right;
    font-size: 20px;
    margin-right: 10px;
}

.edit-course-modal-header > div.x-button:hover {
    color: #E74C3C;
    cursor: pointer;
}

.edit-course-modal-body {
    height: 100%;
    background-color: #424242;
}

.edit-course-modal-footer {
    width: 100%;
}

.edit-course-modal-button.footer {
    pointer-events: none;
    float: left;
    width: 100%;
    height: 30px;
    text-align: center;
    outline: none;
    text-align: center;
    line-height: 30px;
    background-color: #212121;
}

.edit-course-modal-button.confirm {
    float: left;
    width: 100%;
    height: 30px;
    text-align: center;
    outline: none;
    text-align: center;
    line-height: 30px;
    color: #F5F5F5;
    background-color: #212121;
}

.edit-course-modal-button.confirm:hover {
    background-color: #27AE60;
}

.edit-course-modal-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.edit-course-modal-navigation li {
    float: left;
}

.edit-course-modal-navigation  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.edit-course-modal-navigation  li a:hover {
    background-color: #111;
}

/* END [EDIT COURSE MODAl] */

/* [DELETE COURSE MODAL]*/
.confirm-delete-course-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 12px;
    font-family: 'Roboto-Medium';
    color: #F5F5F5;
}

.confirm-delete-course-modal a {
    text-decoration: none;
}

.confirm-delete-course-modal-content {
    margin: 25% auto;
    width: 250px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
        0 7px 20px 0 rgba(0, 0, 0, 0.15);
    animation-name: open-modal;
    animation-duration: 0.3s;
}

.confirm-delete-course-modal-header {
    background: #212121;
    padding: 0.2px;
    color: white;
}

.confirm-delete-course-modal-header > div.x-button {
    float: right;
    font-size: 20px;
    margin-right: 10px;
}

.confirm-delete-course-modal-header > div.x-button:hover {
    color: #E74C3C;
    cursor: pointer;
}

.confirm-delete-course-modal-body {
    height: 100%;
    background-color: #424242;
    padding: 10px 20px;
}

.confirm-delete-course-modal-footer {
    width: 100%;
}

.confirm-delete-course-modal-button.confirm, .confirm-delete-course-modal-button.cancel {
    float: left;
    width: 50%;
    height: 30px;
    text-align: center;
    outline: none;
    text-align: center;
    line-height: 30px;
    color: #F5F5F5;
    background-color: #212121;
}

.confirm-delete-course-modal-button.confirm:hover {
    background-color: #27AE60;
}

.confirm-delete-course-modal-button.cancel:hover {
    background-color: #E74C3C;
}
/* END [DELETE COURSE MODAL]*/

/* [DELETE ASSIGNED COURSE MODAL]*/
.delete-assigned-course-modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 12px;
    font-family: 'Roboto-Medium';
    color: #F5F5F5;
}

.delete-assigned-course-modal a {
    text-decoration: none;
}

.delete-assigned-course-modal-content {
    margin: 25% auto;
    width: 250px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
        0 7px 20px 0 rgba(0, 0, 0, 0.15);
    animation-name: open-modal;
    animation-duration: 0.3s;
}

.delete-assigned-course-modal-header {
    background: #212121;
    padding: 0.2px;
    color: white;
}

.delete-assigned-course-modal-header > div.x-button {
    float: right;
    font-size: 20px;
    margin-right: 10px;
}

.delete-assigned-course-modal-header > div.x-button:hover {
    color: #E74C3C;
    cursor: pointer;
}

.delete-assigned-course-modal-body {
    height: 100%;
    background-color: #424242;
    padding: 10px 20px;
}

.delete-assigned-course-modal-footer {
    width: 100%;
}

.delete-assigned-course-modal-button.confirm, .delete-assigned-course-modal-button.cancel {
    float: left;
    width: 50%;
    height: 30px;
    text-align: center;
    outline: none;
    text-align: center;
    line-height: 30px;
    color: #F5F5F5;
    background-color: #212121;
}

.delete-assigned-course-modal-button.confirm:hover {
    background-color: #27AE60;
}

.delete-assigned-course-modal-button.cancel:hover {
    background-color: #E74C3C;
}
/* END [DELETE ASSIGNED COURSE MODAL]*/

/* [CONFIRM ASSIGN STUDENT MODAL]*/
.confirm-assign-student-modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 12px;
    font-family: 'Roboto-Medium';
    color: #F5F5F5;
}

.confirm-assign-student-modal a {
    text-decoration: none;
}

.confirm-assign-student-modal-content {
    margin: 25% auto;
    width: 250px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
        0 7px 20px 0 rgba(0, 0, 0, 0.15);
    animation-name: open-modal;
    animation-duration: 0.3s;
}

.confirm-assign-student-modal-header {
    background: #212121;
    padding: 0.2px;
    color: white;
}

.confirm-assign-student-modal-header > div.x-button {
    float: right;
    font-size: 20px;
    margin-right: 10px;
}

.confirm-assign-student-modal-header > div.x-button:hover {
    color: #E74C3C;
    cursor: pointer;
}

.confirm-assign-student-modal-body {
    height: 100%;
    background-color: #424242;
    padding: 10px 20px;
}

.confirm-assign-student-modal-footer {
    width: 100%;
}

.confirm-assign-student-modal-button.confirm, .confirm-assign-student-modal-button.cancel {
    float: left;
    width: 50%;
    height: 30px;
    text-align: center;
    outline: none;
    text-align: center;
    line-height: 30px;
    color: #F5F5F5;
    background-color: #212121;
}

.confirm-assign-student-modal-button.confirm:hover {
    background-color: #27AE60;
}

.confirm-assign-student-modal-button.cancel:hover {
    background-color: #E74C3C;
}
/* END [CONFIRM ASSIGN STUDENT MODAL]*/

/* [CONFIRM START TRAINING DATA MODAL]*/
.confirm-start-train-modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 12px;
    font-family: 'Roboto-Medium';
    color: #F5F5F5;
}

.confirm-start-train-modal a {
    text-decoration: none;
}

.confirm-start-train-modal-content {
    margin: 25% auto;
    width: 250px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
        0 7px 20px 0 rgba(0, 0, 0, 0.15);
    animation-name: open-modal;
    animation-duration: 0.3s;
}

.confirm-start-train-modal-header {
    background: #212121;
    padding: 0.2px;
    color: white;
}

.confirm-start-train-modal-header > div.x-button {
    float: right;
    font-size: 20px;
    margin-right: 10px;
}

.confirm-start-train-modal-header > div.x-button:hover {
    color: #E74C3C;
    cursor: pointer;
}

.confirm-start-train-modal-body {
    height: 100%;
    background-color: #424242;
    padding: 10px 20px;
}

.confirm-start-train-modal-footer {
    width: 100%;
}

.confirm-start-train-modal-button.confirm, .confirm-start-train-modal-button.cancel {
    float: left;
    width: 50%;
    height: 30px;
    text-align: center;
    outline: none;
    text-align: center;
    line-height: 30px;
    color: #F5F5F5;
    background-color: #212121;
}

.confirm-start-train-modal-button.confirm:hover {
    background-color: #27AE60;
}

.confirm-start-train-modal-button.cancel:hover {
    background-color: #E74C3C;
}
/* END [CONFIRM START TRAINING DATA STUDENT MODAL]*/

/* [START ATTENDANCE STUDENT MODAL]*/
.start-attendance-modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 12px;
    font-family: 'Roboto-Medium';
    color: #F5F5F5;
}

.start-attendance-modal a {
    text-decoration: none;
}

.start-attendance-modal-content {
    margin: 25% auto;
    width: 300px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
        0 7px 20px 0 rgba(0, 0, 0, 0.15);
    animation-name: open-modal;
    animation-duration: 0.3s;
}

.start-attendance-modal-header {
    background: #212121;
    padding: 0.2px;
    color: white;
}

.start-attendance-modal-header > div.x-button {
    float: right;
    font-size: 20px;
    margin-right: 10px;
}

.start-attendance-modal-header > div.x-button:hover {
    color: #E74C3C;
    cursor: pointer;
}

.start-attendance-modal-body {
    height: 100%;
    background-color: #424242;
    padding: 10px 20px;
}

.start-attendance-modal-footer {
    width: 100%;
}

.start-attendance-modal-button.confirm, .start-attendance-modal-button.cancel {
    float: left;
    width: 50%;
    height: 30px;
    text-align: center;
    outline: none;
    text-align: center;
    line-height: 30px;
    color: #F5F5F5;
    background-color: #212121;
}

.start-attendance-modal-button.confirm:hover {
    background-color: #27AE60;
}

.start-attendance-modal-button.cancel:hover {
    background-color: #E74C3C;
}
/* END [START ATTENDANCE STUDENT MODAL]*/

/* [EXIT MODAL]*/
.exit-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 12px;
    font-family: 'Roboto-Medium';
    color: #F5F5F5;
}

.exit-modal a {
    text-decoration: none;
}

.exit-modal-content {
    margin: 25% auto;
    width: 250px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
        0 7px 20px 0 rgba(0, 0, 0, 0.15);
    animation-name: open-modal;
    animation-duration: 0.3s;
}

.exit-modal-header {
    background: #212121;
    padding: 0.2px;
    color: white;
}

.exit-modal-header > div.x-button {
    float: right;
    font-size: 20px;
    margin-right: 10px;
}

.exit-modal-header > div.x-button:hover {
    color: #E74C3C;
    cursor: pointer;
}

.exit-modal-body {
    height: 100%;
    background-color: #424242;
    padding: 10px 20px;
}

.exit-modal-footer {
    width: 100%;
}

.exit-modal-button.confirm, .exit-modal-button.cancel {
    float: left;
    width: 50%;
    height: 30px;
    text-align: center;
    outline: none;
    text-align: center;
    line-height: 30px;
    color: #F5F5F5;
    background-color: #212121;
}

.exit-modal-button.confirm:hover {
    background-color: #27AE60;
}

.exit-modal-button.cancel:hover {
    background-color: #E74C3C;
}
/* END [EXIT MODAL]*/

.search {
    width: 150px;
    position: relative;
    display: flex;
    float: left;
    padding-left: 20px;
    padding-bottom: 10px;
}

#search-courses {
    width: 150px;
    border: 3px solid #424242;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #212121;
}

.search-button {
    width: 40px;
    height: 36px;
    border: 1px solid #424242;
    background: #424242;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    pointer-events: none;
    outline: none;
    font-size: 20px;
}

.search-button-assigned {
    width: 40px;
    height: 36px;
    border: 1px solid #333;
    background: #333;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    pointer-events: none;
    outline: none;
}

.search-assigned {
    width: 150px;
    position: relative;
    display: flex;
    float: left;
    padding-left: 20px;
    padding-bottom: 10px;
}

#search-assigned {
    width: 150px;
    border: 3px solid #333;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #333;
}

.search-students-button {
    width: 40px;
    height: 36px;
    border: 1px solid #333;
    background: #333;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    pointer-events: none;
    outline: none;
}

.search-student {
    width: 190px;
    position: relative;
    display: flex;
    float: left;
    padding-left: 20px;
    padding-bottom: 10px;
}

#search-students {
    width: 190px;
    border: 3px solid #333;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #333;
}

#add-course-snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #27AE60;
    color: #F5F5F5;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 10000;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto-Light';
}

#add-course-snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#delete-course-snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #27AE60;
    color: #F5F5F5;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 10000;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto-Light';
}

#delete-course-snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#delete-assigned-students-snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #27AE60;
    color: #F5F5F5;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 10000;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto-Light';
}

#delete-assigned-students-snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#assign-students-snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #27AE60;
    color: #F5F5F5;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 10000;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto-Light';
}

#assign-students-snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#attendance-started-snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #2c82c9;
    color: #F5F5F5;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 10000;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto-Light';
}

#attendance-started-snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#training-started-snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #2c82c9;
    color: #F5F5F5;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 10000;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto-Light';
}

#training-started-snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#add-error-course-snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #E74C3C;
    color: #F5F5F5;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 10000;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto-Light';
}

#add-error-course-snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#training-data-snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #27AE60;
    color: #F5F5F5;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 10000;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto-Light';
}

#attendance-snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#attendance-snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #27AE60;
    color: #F5F5F5;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 10000;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto-Light';
}

#training-data-snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#train-data-button:disabled
{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

#start-attendance-button:disabled
{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
